*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: rgb(244, 174, 210);
  font-family: monospace;
  color: rgb(224, 45, 100);
}


.main{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left{
  display: flex;
  flex-direction: column;
  width: 15%;
  color:rgb(224, 45, 100);
}

.left-txt{
  height: 50%;
  padding-left: 2vw;
  padding-top: 1vh;
}
.left-logo{
  display: flex;
  flex-direction: column-reverse;
  height: 50%;
  width: 100%;
  padding-left: 2vw;
  padding-bottom: 1vw;
}
.logo{
  border: none;
  max-width: 100%;
  padding: 0;
}
.ig{
  transition: .5s;
  width: 2.5vw;
  height: 2.5vw;
}
.ig:hover{
  transform: scale(1.2);
}
h2{
  padding-top: 1vh;
  padding-bottom: 2vh;
}

.right{
  display: flex;
  flex-direction: column;
  width:85%;
  background: rgb(244, 174, 210);
  align-items: center;
  justify-content: center;
}
.right-txt{
  padding-left: 12vw;
  padding-right: 12vw;
}
h1{
  font-size: 2.5vw;
  text-align: center;
}
img{
  width: 80%;
  height:auto;
  border: 5px dashed rgb(224, 45, 100);
  padding: 15px;
}

.page{
  border: 3px solid rgb(224, 45, 100);
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  padding: 0 1rem 0 1rem;
  text-decoration: none;
  color: rgb(224, 45, 100);
}
.page:hover{
  color: white;
  border: 3px solid white;
  transition: .5s;
}
a{
  text-decoration: none;
  color: rgb(224, 45, 100);
}
a:hover{
  color: white;
  text-decoration: underline;
  transition: .5s;
}
